.sm-button {
  position: relative;
  line-height: 1;
  border-radius: 4px;
  font-size: 14px;
  @apply flex-inline items-center justify-center px-3 py2 font-semibold border-1.5 cursor-pointer transition-300;
}

.sm-button + .sm-button {
  @apply ml-4;
}

.sm-button.is-round {
  @apply b-rounded-6;
}

.sm-button.is-link {
  @apply cursor-pointer bg-transparent b-transparent hover:bg-transparent hover:border-transparent;
}

.sm-button.is-disabled {
  @apply cursor-not-allowed;
}

.sm-button.is-circle {
  @apply flex-center;
  display: inline-flex;
  width: 36px;
  height: 36px;
  color: #fff;
  border-radius: 50%;
}

.sm-button__icon {
  /*@apply p-2;*/
}

.sm-button.is-loading {
  pointer-events: none;
}

.sm-button.is-loading i{
  animation: rotateLoading 2s linear infinite;
}

@keyframes rotateLoading {
  100% {
    transform: rotate(360deg);
  }
}

.sm-button.sm-button__default.is-circle {
  @apply text-blue-500;
}

.sm-button__default {
  @apply text-gray-500 bg-white border-gray-200 hover:bg-blue-100 hover:border-blue-100 hover:text-blue-500 active:border-blue-300;
}

.sm-button__default.is-disabled,
.sm-button__default.is-plain.is-disabled {
  @apply text-gray bg-gray-50 border-gray-200 hover:text-gray hover:bg-gray-50 hover:border-gray-200;
}

.sm-button__default.is-link {
  @apply text-gray-500 hover:text-blue-500 hover:text-gray-300 hover:bg-transparent;
}

.sm-button__default.is-link.is-disabled {
  @apply cursor-not-allowed text-gray-300 bg-transparent border-transparent hover:bg-transparent hover:border-transparent;
}

.sm-button__default.is-plain {
  @apply text-gray-500 bg-white border-gray-300 hover:text-blue-500 hover:border-blue-300 active:border-blue-300;
}

.sm-button__primary {
  @apply text-white bg-blue-500 border-blue-500 hover:bg-blue-400 hover:border-blue-400 active:bg-blue-500 active:border-blue-500;
}

.sm-button__primary.is-disabled {
  @apply text-gray-100 bg-blue-300 border-blue-300 hover:bg-blue-300 hover:border-blue-300;
}

.sm-button__primary.is-plain.is-disabled {
  @apply text-blue-300 bg-blue-200 border-blue-200 hover:text-blue-300 hover:bg-blue-200 hover:border-blue-200;
}

.sm-button__primary.is-link {
  @apply text-blue-500 hover:text-blue-300 hover:bg-transparent;
}

.sm-button__primary.is-link.is-disabled {
  @apply cursor-not-allowed text-blue-300 bg-transparent border-transparent hover:bg-transparent hover:border-transparent;
}

.sm-button__primary.is-plain {
  @apply text-blue-500 bg-blue-100 border-blue-100 hover:text-white hover:bg-blue-500 hover:border-blue-500 active:bg-blue-600 active:border-blue-600;
}

.sm-button__success {
  @apply text-white bg-green-500 border-green-500 hover:bg-green-400 hover:border-green-400 active:bg-green-500 active:border-green-400;
}

.sm-button__success.is-disabled {
  @apply text-gray-100 bg-green-300 border-green-300 hover:bg-green-300 hover:border-green-300;
}

.sm-button__success.is-plain.is-disabled {
  @apply text-green-300 bg-green-200 border-green-200 hover:text-green-300 hover:bg-green-200 hover:border-green-200;
}

.sm-button__success.is-plain {
  @apply text-green-500 bg-green-100 border-green-100 hover:text-white hover:bg-green-500 hover:border-green-500 active:bg-green-600 active:border-green-600;
}

.sm-button__success.is-link {
  @apply text-green-500 hover:text-green-300 hover:bg-transparent;
}

.sm-button__success.is-link.is-disabled {
  @apply cursor-not-allowed text-green-300 bg-transparent border-transparent hover:bg-transparent hover:border-transparent;
}

.sm-button__warning {
  @apply text-white bg-yellow-500 border-yellow-500 hover:bg-yellow-400 hover:border-yellow-400 active:bg-yellow-500 active:border-yellow-400;
}

.sm-button__warning.is-disabled {
  @apply text-gray-100 bg-yellow-300 border-yellow-300 hover:bg-yellow-300 hover:border-yellow-300;
}

.sm-button__warning.is-plain.is-disabled {
  @apply text-yellow-300 bg-yellow-200 border-yellow-200 hover:text-yellow-300 hover:bg-yellow-200 hover:border-yellow-200;
}

.sm-button__warning.is-plain {
  @apply text-yellow-500 bg-yellow-100 border-yellow-100 hover:text-white hover:bg-yellow-500 hover:border-yellow-500 active:bg-yellow-600 active:border-yellow-600;
}

.sm-button__warning.is-link {
  @apply text-yellow-500 hover:text-yellow-300 hover:bg-transparent;
}

.sm-button__warning.is-link.is-disabled {
  @apply cursor-not-allowed text-yellow-300 bg-transparent border-transparent hover:bg-transparent hover:border-transparent;
}

.sm-button__danger {
  @apply text-white bg-red-500 border-red-500 hover:bg-red-400 hover:border-red-400 active:bg-red-500 active:border-red-400;
}

.sm-button__danger.is-disabled {
  @apply text-gray-100 bg-red-300 border-red-300 hover:bg-red-300 hover:border-red-300;
}

.sm-button__danger.is-plain.is-disabled {
  @apply text-red-300 bg-red-200 border-red-200 hover:text-red-300 hover:bg-red-200 hover:border-red-200;
}

.sm-button__danger.is-plain {
  @apply text-red-500 bg-red-100 border-red-100 hover:text-white hover:bg-red-500 hover:border-red-500 active:bg-red-600 active:border-red-600;
}

.sm-button__danger.is-link {
  @apply text-red-500 hover:text-red-300 hover:bg-transparent;
}

.sm-button__danger.is-link.is-disabled {
  @apply cursor-not-allowed text-red-300 bg-transparent border-transparent hover:bg-transparent hover:border-transparent;
}

.sm-button__info {
  @apply text-white bg-gray-500 border-gray-500 hover:bg-gray-400 hover:border-gray-400 active:bg-gray-500 active:border-gray-400;
}

.sm-button__info.is-disabled {
  @apply text-gray-100 bg-gray-300 border-gray-300 hover:bg-gray-300 hover:border-gray-300;
}

.sm-button__info.is-plain.is-disabled {
  @apply text-gray-300 bg-gray-200 border-gray-200 hover:text-gray-300 hover:bg-gray-200 hover:border-gray-200;
}

.sm-button__info.is-plain {
  @apply text-gray-500 bg-gray-100 border-gray-100 hover:text-white hover:bg-gray-500 hover:border-gray-500 active:bg-gray-600 active:border-gray-600;
}

.sm-button__info.is-link {
  @apply text-gray-500 hover:text-gray-300 hover:bg-transparent;
}

.sm-button__info.is-link.is-disabled {
  @apply cursor-not-allowed text-gray-300 bg-transparent border-transparent hover:bg-transparent hover:border-transparent;
}
