:root {
  --vp-code-block-bg: #fafafa;
  --vp-code-block-color: #333;
}

.dark {
  --vp-code-block-bg: #262727;
  --vp-code-block-color: #f1f1f1;
}

/* code color */

.dark .token.tag {
  color: #409eff;
}


.dark .meta {
  border-top-color: #4c4d4f;
}

.dark .demo-block-control {
  border-top-color: #4c4d4f;
  background-color: #1c1e21;
}

.dark .demo-block-control:hover {
  background-color: #1c1e21;
}


.dark .demo-block {
  border-color: #4c4d4f !important;
}

.dark .demo-block:hover {
  box-shadow: none;
}


.dark .vp-doc div [class*='language-'] {
  border-radius: 0;
}